{% extends 'dashboard/shared/base.html' %}
{% load static %}

{% block header_ref %}


    <link href="{% static 'admin_dashboard/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'admin_dashboard/plugins/global/plugins.bundle.js' %}"></script>
{% endblock %}

{% block content %}

    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                        {{ product.name }}</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="{% url 'collection_detail' product.collection.pk %}"
                               class="text-muted text-hover-primary">{{ product.collection.name }}</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-400 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <!--begin::Primary button-->
                    <a href="{% url 'collection_detail'  product.collection.pk %}"
                       class="btn btn-lg fw-bold btn-primary">Go to collection</a>
                    <!--end::Primary button-->
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Toolbar container-->
        </div>        <!--end::Toolbar-->


        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">

                <!--begin::Form-->
                <form id="edit_product" class="form d-flex flex-column flex-lg-row"
                      method="POST" action="{% url 'item_detail'  pk=product.pk %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--begin::Aside column-->
                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">

                        <!--begin::Product type-->
                        <div class="card card-flush py-4">
                            <div class="card-header">
                                <div class="card-title required">
                                    <h2>Item type</h2>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <select class="form-select mb-2" data-control="select2" data-hide-search="true"
                                        name="product_type" required
                                        data-placeholder="Select an option" id="product_type">
                                    <option value="{{ product.product_type.id }}"
                                            selected>{{ product.product_type.name }}</option>
                                </select>
                                <div class="text-muted fs-7">You could not change item type.
                                </div>
                            </div>
                        </div>
                        <!--end::Product type-->

                    </div>
                    <!--end::Aside column-->

                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general"
                                 role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">


                                    <!--begin::General options-->
                                    <div class="card card-flush py-4">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>General info</h2>
                                            </div>
                                        </div>
                                        <!--begin::Card body-->
                                        <div class="card-body pt-0">
                                            <div class="mb-10 fv-row">
                                                <label class="required form-label">Name</label>
                                                <input type="text" name="name" class="form-control mb-2"
                                                       placeholder="Product name" value="{{ product.name }}" required/>
                                            </div>
                                        </div>
                                        <!--end::Card header-->
                                    </div>
                                    <!--end::General options-->


                                    <!--begin::Attributes-->
                                    <div class="card card-flush py-4">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Attributes</h2>
                                            </div>
                                        </div>
                                        <!--end::Card header-->
                                        <!--begin::attributes-->
                                        <div id="attributes">
                                            <div class="card-body pt-0">

                                                {% for attr in booleans %}

                                                    <div class="mb-10">
                                                        <div class="mb-1 fv-row">
                                                            <label class="form-label">{{ attr.name }}</label>
                                                        </div>
                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                            {% for val in attr.values.all %}
                                                                {% if val.boolean == True %}
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="{{ attr.slug }}" value="{{ val.id }}"
                                                                           id="{{ attr.name }}"
                                                                            {% if val.id in all_values %}
                                                                           checked {% endif %}/>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                {% endfor %}

                                                {% for attr in oneselect_no_pic %}

                                                    <div class="mb-10 fv-row">
                                                        <label class="form-label {% if attr.value_required %} required {% endif %}">{{ attr.name }}</label>
                                                        <select class="form-select mb-2" data-control="select2"
                                                                data-hide-search="true"
                                                                name="{{ attr.slug }}" {% if attr.value_required %}
                                                                required {% endif %}
                                                                data-placeholder="Select an option"
                                                                id="{{ attr.name }}">
                                                            <option></option>
                                                            {% for val in attr.values.all %}
                                                                <option value="{{ val.id }}"
                                                                        {% if val.id in all_values %}
                                                                        selected {% endif %}>{{ val.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                {% endfor %}

                                                {% for attr in multiselect_no_pic %}

                                                    <div class="mb-10">
                                                        <div class="mb-1 fv-row">
                                                            <label class="{% if attr.value_required %} required {% endif %} form-label">{{ attr.name }}</label>
                                                        </div>
                                                        {% for val in attr.values.all %}
                                                            <div class="form-check form-check-inline ">
                                                                <input class="form-check-input" type="checkbox"
                                                                       name="{{ attr.slug }}" value="{{ val.id }}"
                                                                       id="{{ attr.name }}"
                                                                        {% if val.id in all_values %}
                                                                       checked {% endif %}/>
                                                                <label class="form-check-label" for="{{ attr.name }}">
                                                                    {{ val.name }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                {% endfor %}

                                                {% for attr in oneselect_with_pic %}

                                                    <div class="row mw-500px mb-5" data-kt-buttons="true"
                                                         data-kt-buttons-target=".form-check-image, .form-check-input">
                                                        <label class="{% if attr.value_required %} required {% endif %} form-label">{{ attr.name }}</label>

                                                        {% for val in attr.values.all %}
                                                            <div class="col-4">
                                                                <label class="form-check-clip text-center {% if attr.value_required %} required {% endif %}">
                                                                    <input class="btn-check" type="radio"
                                                                           value="{{ val.id }}" name="{{ attr.slug }}"
                                                                            {% if val.id in all_values %}
                                                                           checked {% endif %}/>
                                                                    <div class="form-check-wrapper">
                                                                        <div class="form-check-indicator"></div>
                                                                        <img class="form-check-content w-150px h-150px"
                                                                             src="{{ val.picture.url }}"/>
                                                                    </div>
                                                                    <div class="form-check-label">
                                                                        {{ val.name }}
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                {% endfor %}

                                                {% for attr in multiselect_with_pic %}

                                                    <div class="row mw-500px mb-5">
                                                        <label class="{% if attr.value_required %} required {% endif %} form-label">{{ attr.name }}</label>
                                                        {% for val in attr.values.all %}
                                                            <!--begin::Col-->
                                                            <div class="col-4">
                                                                <label class="form-check-clip text-center">
                                                                    <input class="btn-check" type="checkbox"
                                                                           value="{{ val.id }}" name="{{ attr.slug }}"
                                                                            {% if val.id in all_values %}
                                                                           checked {% endif %}/>
                                                                    <div class="form-check-wrapper">
                                                                        <div class="form-check-indicator"></div>
                                                                        <img class="form-check-content w-150px h-150px"
                                                                             src="{{ val.picture.url }}"/>
                                                                    </div>

                                                                    <div class="form-check-label">
                                                                        {{ val.name }}
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <!--end::Col-->
                                                        {% endfor %}

                                                    </div>

                                                {% endfor %}

                                            </div>

                                        </div>
                                        <!--end::attributes-->


                                    </div>
                                    <!--end::Attributes-->

                                </div>
                            </div>
                            <!--end::Tab pane-->

                        </div>
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="#" id="kt_ecommerce_add_product_cancel"
                               class="btn btn-light me-5">Cancel</a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary m-3">
                                <span class="indicator-label">Save Changes</span>
                                <span class="indicator-progress">Please wait...
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <a href="{% url 'item_delete' product.pk %}" id="" class="btn btn-danger m-3">
                                <span class="indicator-label">Delete</span>

                            </a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->


                <!--begin::Toolbar-->
                <div class="d-flex flex-wrap flex-stack mb-6">
                    <!--begin::Heading-->
                    <h3 class="fw-bold my-2">Items
                    </h3>
                    <!--end::Heading-->
                    <!--begin::Actions-->
                    <div class="d-flex flex-wrap my-2">


                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Row-->
                <div class="row g-6 g-xl-9">
                    <div class="tab-pane fade show active" >
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
                            {% for product in products %}
                            <!--begin::Card-->
                            <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                                <!--begin::Body-->
                                <div class="card-body text-center">
                                    <!--begin::Food img-->
                                    <img src="{{ product.main_image.url }}"
                                         class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt=""/>
                                    <!--end::Food img-->
                                    <!--begin::Info-->
                                    <div class="mb-2">
                                        <!--begin::Title-->
                                        <div class="text-center">
                                            <a href="{% url 'product_detail' pk=product.pk %}"><span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">{{ product.name }}</span></a>
                                            <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">{{ product.product_type.name }}</span>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Info-->
                                    <!--begin::Total-->
                                    <span class="text-success text-end fw-bold fs-1">{% for val in product.get_attr_values %}
                                            <span class="fw-bold text-right">{{ val }}</span>
                                            <br>

                                        {% endfor %}</span>
                                    <!--end::Total-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Card-->
                            {% endfor %}
                        </div>
                        <!--end::Wrapper-->
                    </div>
                </div>
                <!--end::Row-->

            </div>
            <!--end::Content container-->

        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->

    {% if messages %}
        {% for message in messages %}

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>        {% endfor %}
    {% endif %}


{% endblock %}



{% block footer_ref %}
    <!--begin::Vendors Javascript(used by this page)-->
    <script src="{% static 'admin_dashboard/plugins/custom/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'admin_dashboard/plugins/custom/formrepeater/formrepeater.bundle.js' %}"></script>

    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used by this page)-->
    <script src="{% static 'admin_dashboard/js/custom/apps/ecommerce/catalog/save-product.js' %}"></script>
    <script src="{% static 'admin_dashboard/js/widgets.bundle.js' %}"></script>
    <script src="{% static 'admin_dashboard/js/custom/widgets.js' %}"></script>
    <script src="{% static 'admin_dashboard/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
    <script src="{% static 'admin_dashboard/js/custom/utilities/modals/create-app.js' %}"></script>
    <script src="{% static 'admin_dashboard/js/custom/utilities/modals/users-search.js' %}"></script>
    <!--end::Custom Javascript-->

    <script>

        $("#product_type").change(function () {
            var url = '{% url 'ajax_load_product_type_attr_input' %}';
            var product_type_id = $(this).val();
            var product_id = '{{ product.id }}'

            $.ajax({
                url: url,
                data: {
                    'product_type_id': product_type_id,
                    'product_id': product_id
                },
                success: function (data) {
                    $("#attributes").html(data);

                }

            });

        });

    </script>

    <script>
        var quill = new Quill('#kt_docs_quill_basic', {
            modules: {
                toolbar: true
            },
            placeholder: 'Type your text here...',
            theme: 'snow'
        });


        $("#edit_product").on("submit", function () {
            $("#hiddenArea").val($(".ql-editor ").html());
        })
    </script>


{% endblock %}