{% load static %}


<!--begin::Javascript-->
<script>var hostUrl = "{% static 'admin_dashboard/' %}";</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="{% static 'admin_dashboard/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'admin_dashboard/' %}js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used by this page)-->
<script src="{% static 'admin_dashboard/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used by this page)-->
<script src="{% static 'admin_dashboard/js/custom/apps/ecommerce/catalog/products.js' %}"></script>
<script src="{% static 'admin_dashboard/js/widgets.bundle.js' %}"></script>
<script src="{% static 'admin_dashboard/js/custom/widgets.js' %}"></script>
<script src="{% static 'admin_dashboard/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'admin_dashboard/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'admin_dashboard/js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'admin_dashboard/js/custom/utilities/modals/users-search.js' %}"></script>
<!--end::Custom Javascript-->
<!--end::Javascript-->